.form {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  gap: 16px;
  position: relative;
}

.form .label {
  flex: 1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.form .instance-node-2 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.form .input {
  color: #1a1a1a;
  flex: 1;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.form .label-wrapper {
  align-items: center;
  gap: 10px;
  position: absolute;
}

.form .label-2 {
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.form .supporting-message {
  align-items: center;
  gap: 10px;
  position: absolute;
}

.form .lorem-ipsum-dolor {
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.form .div-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  gap: 10px;
  left: 8px;
  padding: 4px 8px;
  position: absolute;
  top: -8px;
}

.form .text-wrapper {
  font-family: "Nexa-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form .extended {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #5a9fd0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 0;
  padding: 16px;
  position: absolute;
  top: 48px;
  width: 250px;
}

.form .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.form.active-false {
  border-color: #79747e;
}

.form.active-true {
  border-color: #5a9fd0;
}

.form.supporting-message-false {
  align-items: center;
  height: 44px;
  padding: 0px 16px;
  width: 250px;
}

.form.supporting-message-true {
  align-items: flex-start;
  height: 112px;
  padding: 16.5px 16px 0px;
  width: 616px;
}

.form .input-true {
  color: #1a1a1a;
  font-family: "Lato", Helvetica;
  font-weight: 400;
}

.form .input-false {
  color: #79747e;
  font-family: "Nexa-Bold", Helvetica;
  font-weight: 700;
}

.form.active-false .label-wrapper {
  display: flex;
  left: 0;
  top: 128px;
  width: 616px;
}

.form.active-true .label-wrapper {
  background-color: #ffffff;
  display: inline-flex;
  left: 8px;
  padding: 4px 8px;
  top: -8px;
}

.form.active-false .label-2 {
  color: #000000;
  flex: 1;
  font-family: "Lato", Helvetica;
  font-weight: 300;
}

.form.active-true .label-2 {
  color: #5a9fd0;
  font-family: "Nexa-Bold", Helvetica;
  font-weight: 700;
  white-space: nowrap;
  width: fit-content;
}

.form.active-false .supporting-message {
  background-color: #ffffff;
  display: inline-flex;
  left: 8px;
  padding: 4px 8px;
  top: -8px;
}

.form.active-true .supporting-message {
  display: flex;
  left: 0;
  top: 128px;
  width: 616px;
}

.form.active-false .lorem-ipsum-dolor {
  color: #79747e;
  font-family: "Nexa-Bold", Helvetica;
  font-weight: 700;
  white-space: nowrap;
  width: fit-content;
}

.form.active-true .lorem-ipsum-dolor {
  color: #000000;
  flex: 1;
  font-family: "Lato", Helvetica;
  font-weight: 300;
}

.form.active-false .text-wrapper {
  color: #79747e;
}

.form.active-true .text-wrapper {
  color: #5a9fd0;
}
