.header {
  background-color: #5a9fd0;
  box-shadow: 0px 2px 8px #00000029;
  height: 70px;
  position: relative;
  width: 1600px;
}

.header .GPT-prompts-template {
  height: 60px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 209px;
}

.header .notification {
  height: 24px !important;
  left: 1496px !important;
  position: absolute !important;
  top: 23px !important;
  width: 24px !important;
}

.header .setting {
  height: 24px !important;
  left: 1448px !important;
  position: absolute !important;
  top: 23px !important;
  width: 24px !important;
}

.header .profile-circle {
  height: 24px !important;
  left: 1400px !important;
  position: absolute !important;
  top: 23px !important;
  width: 24px !important;
}

.header .text-wrapper-4 {
  color: #ffffff;
  font-family: "Nexa-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 11px;
  left: 1300px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 28px;
  white-space: nowrap;
}
